/*
** Idées de couleur :
#db5855
#384d54
#ba595e
*/


@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');



/*
** GENERAL
*/

*, *:after, *:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
}

.wrapper {
  width: 67%;
  margin-left: auto;
  margin-right: auto;
}




/*
** HEADER
*/


header {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5rem;
}

header > img {
  width: 18%;
}


header > ul {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

a, a:visited {
  color: #222222;
}

a:hover {
  color: #22222;
}




/*
** INTRODUCTION
*/

#introduction > img {
  width: 100%;
}

#introduction > h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
}


/*
** PROJECT
*/

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content:  flex-start;
}


article {
  width: 340px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Ombre */
  transition: 0.3s;
  border-radius: 5px;
  margin-bottom: 3rem;

}



article > img {
  width: 100%;
  height: 19rem;
  border-radius: 5px 5px 0 0;
}


article > h3 {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2.5rem;

  text-align: center;
  font-size: 1.8rem;
  font-family: 'Raleway', sans-serif;
}

.divider {
  background: #7A7A7A;
  height: 2px;
  margin: 20px auto;
  width: 40px;
}

article > p {
  color: #7A7A7A;
  font-weight: lighter;
  text-align: justify;

  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-bottom: 2rem;
}


/*
** BADGE
*/

.badge {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 2rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.badge > li {
  color: white;
  padding: 0.4rem 1.2rem;
  border-radius: 2rem;
  margin-right: 1.4rem;
}

.rust {
  background-color: #dea584;
}

.python {
  background-color: #3572A5;
}

.sql {
  background-color: #499886;
}

.reseau {
  background-color: #384d54;
}

.universite {
  background-color: #ba595e;
}

.js {
  background-color: #f3ca0a;
}

.css {
  background-color: #563d7c;
}

.html {
  background-color: #e34c26;
}


/*
** HAMBURGER
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.ham {
  position: relative;
  /* always keep ham on top of everything */
  z-index: 1000;
  top: 18px;
  right: 10px;
  width: 40px;
  height: 42px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("https://ljc-dev.github.io/testing0/ham.svg");
  background-size: 100%;
}


/* change ham image to close */
.showClose {
  background-image: url("https://ljc-dev.github.io/testing0/ham-close.svg");
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: white;
  /* hide the menu above the screen by default */
  transform: translateY(-100%);
  /* transition adds a little animation when sliding in and out the menu */
  transition: transform 0.2s ease;
}


.showNav {
  /* show the menu */
  transform: translateY(0);
}

/* basic nav styling below */

.navbar ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.navbar ul li a {
  color: white;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
}

.navbar ul li a:hover, .navbar ul li a:focus {
  border-bottom: 2px solid white;
}


/*
** Mobile design
*/

.ham {
  display: none;
}


@media screen and (max-width: 640px) {
  header {
    padding-bottom: 2rem;
  }

  .ham {
    display: block;
  }


  .wrapper {
    width: 88%;
    margin-left: auto;
    margin-right: auto;
  }

  .menu {
    display: none;
  }

  header > img {
      width: 50%;
  }
}
